<ion-toolbar>
    <ion-title class="ion-text-xl-capitalize" color="dark">Sobre</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Sobre</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="md">
                    Nome:
                </ion-col>
                <ion-col size="lg">
                    Aldo Bernardes Maciel
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="md">
                    Email:
                </ion-col>
                <ion-col size="lg">
                    aldo-maciel@hotmail.com
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="md">
                    Telefone:
                </ion-col>
                <ion-col size="lg">
                    (47) 99241 7414
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="2">
                    <a href="https://github.com/aldo-maciel">Github</a>
                </ion-col>
                <ion-col size="2">
                    <a href="https://www.linkedin.com/in/aldo-bernardes-maciel/">Linkedin</a>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-card-content>
            Desenvolvedor de software com experiência em GWT, Angular, Java, Vue, React, JavaScript, CSS3, HTML5,
            NodeJS, NPM, Bower entre outras tecnologias, apaixonado por aprender novas tecnologias.
            Sempre pronto para ajudar as pessoas a atingir seus objetivos e cumprir suas expectativas. Trabalha muito
            bem em grupo ou individualmente com foco em qualidade e produtividade. Trabalhando diariamente para
            aperfeiçoar e atingir objetivos pessoais. Juntos, acredito que podemos tornar o mundo um lugar melhor,
            melhorando a vida das pessoal dia após dia.
        </ion-card-content>
    </ion-card>
</ion-content>
